body{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #dfdfdf;
}

.main-container{
    width: 60%;
    height: 100%;
    background-color: darkorchid;
}

.title{
    background-color: #dfdfdf;
    width: 100%;
    font-size: 45px;
    display: flex;
    justify-content: center;
    color: #333756;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #333756;
}

li{
    float: left;
    padding: 3px;
}

button {
    padding: 0.1rem 0.5rem 0.2rem 0.5rem;
    border-radius: 25px;
    background-color: white;
    color: #333756;
    font-weight: 600;
    border: none;
    transition: 0.3s;
    outline: none;
}

button:hover{
    color: white;
    background-color: #333756;
}

.form-container{
    background-color: #dfdfdf;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.books{
    background-color: #dfdfdf;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-container{
    color: white;
    background-color: #333756;
    border-radius: 15px;
    width: 50%;
    height: 45px;
    padding: 1rem;
    margin: 1rem;
}
