body{
    display: flex;
    justify-content: center;
}

.main-container{
    width: 60%;
    height: 100%;
    background-color: darkorchid;
}

.title{
    background-color: aqua;
    width: 100%;
    font-size: 45px;
    display: flex;
    justify-content: center;
}

.form-container{
    background-color: darkcyan;
    width: 100%;
}

.books{
    background-color: darkgray;
    width: 100%;
}
